# V deo
#### Koristimo `yfinance` biblioteku za preuzimanje podataka o kretanju vrednosti bitkoina u 2024.godini. Nakon preuzimanja, podatke čuvamo u odg. csv fajl.

In [11]:
import yfinance as yf

data = yf.download("BTC-USD", start="2024-01-01", end="2024-12-31")

data.to_csv("../data/btc24.csv")

[*********************100%***********************]  1 of 1 completed

#### Prilikom čitanja csv fajla moguće je simultano izvršiti odr. manipulacije nad datasetom:
#### `parse_dates`=["Date"]: Ova opcija govori pandas-u da kolonu pod nazivom "Date" treba konvertovati u tip podatka datetime
#### `index_col`="Date": za indekse redova postavljamo datume

In [1]:
import pandas as pd
df = pd.read_csv("../data/btc24.csv",parse_dates=["Date"], index_col="Date")
df.head(10)

,Close,High,Low,Open,Volume
Date,,,,,
2024-01-01,44167.332031,44175.437500,42214.976562,42280.234375,18426978443
2024-01-02,44957.968750,45899.707031,44176.949219,44187.140625,39335274536
2024-01-03,42848.175781,45503.242188,40813.535156,44961.601562,46342323118
2024-01-04,44179.921875,44770.023438,42675.175781,42855.816406,30448091210
2024-01-05,44162.691406,44353.285156,42784.718750,44192.980469,32336029347
2024-01-06,43989.195312,44227.632812,43475.156250,44178.953125,16092503468
2024-01-07,43943.097656,44495.570312,43662.230469,43998.464844,19330573863
2024-01-08,46970.503906,47218.000000,43244.082031,43948.707031,42746192015
2024-01-09,46139.730469,47893.699219,45244.714844,46987.640625,39821290992
2024-01-10,46627.777344,47647.222656,44483.152344,46121.539062,50114613298

#### Ono što je novina jeste to da smo za indekse stavili datume. Dobijena struktura je tipa `DatetimeIndex` što se vidi iz priloženog:

In [2]:
df.index

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10',
               ...
               '2024-12-21', '2024-12-22', '2024-12-23', '2024-12-24',
               '2024-12-25', '2024-12-26', '2024-12-27', '2024-12-28',
               '2024-12-29', '2024-12-30'],
              dtype='datetime64[ns]', name='Date', length=365, freq=None)

#### Najveća prednost ovakvog pristupa je olakšano pristupanje podacima iz dataseta. Pristupamo najpre vrednostima kolona za indeks 12.maj i rezultat kastujemo u rečnik. Zatim pristupamo podacima za april, nakon čega prikazujemo i rad sa opsezima.

In [3]:
dict(df.loc['2024-05-12'])

{'Close': np.float64(61448.39453125),
 'High': np.float64(61818.15625),
 'Low': np.float64(60632.6015625),
 'Open': np.float64(60793.50390625),
 'Volume': np.float64(13800459405.0)}

In [4]:
df.loc['2024-04']

,Close,High,Low,Open,Volume
Date,,,,,
2024-04-01,69702.148438,71342.093750,68110.695312,71333.484375,34873527352
2024-04-02,65446.972656,69708.382812,64586.593750,69705.023438,50705240709
2024-04-03,65980.812500,66914.320312,64559.898438,65446.671875,34488018367
2024-04-04,68508.843750,69291.257812,65113.796875,65975.695312,34439527442
2024-04-05,67837.640625,68725.757812,66011.476562,68515.757812,33748230056
2024-04-06,68896.109375,69629.601562,67491.718750,67840.570312,19967785809
2024-04-07,69362.554688,70284.429688,68851.632812,68897.109375,21204930369
2024-04-08,71631.359375,72715.359375,69064.242188,69362.554688,37261432669
2024-04-09,69139.015625,71742.507812,68212.921875,71632.500000,36426900409
2024-04-10,70587.882812,71093.429688,67503.562500,69140.242188,38318601774
2024-04-11,70060.609375,71256.234375,69571.812500,70575.734375,30153382941
2024-04-12,67195.867188,71222.742188,65254.835938,70061.382812,44129299406
2024-04-13,63821.472656,67931.429688,60919.105469,67188.375000,52869738185
2024-04-14,65738.726562,65824.429688,62205.851562,63836.230469,49084320047
2024-04-15,63426.210938,66878.648438,62332.070312,65739.648438,43595917654
2024-04-16,63811.863281,64355.667969,61716.402344,63419.296875,42847528078
2024-04-17,61276.691406,64486.363281,59768.585938,63831.847656,41915247049
2024-04-18,63512.753906,64125.687500,60833.480469,61275.316406,36006307335
2024-04-19,63843.570312,65481.597656,59651.390625,63510.750000,49920425401
2024-04-20,64994.441406,65442.457031,63172.402344,63851.101562,23097485495
2024-04-21,64926.644531,65723.242188,64277.722656,64992.816406,20506644853
2024-04-22,66837.679688,67233.960938,64548.179688,64935.632812,28282686673
2024-04-23,66407.273438,67199.242188,65864.867188,66839.890625,24310975583
2024-04-24,64276.898438,67075.367188,63589.871094,66408.718750,30276655120
2024-04-25,64481.707031,65275.207031,62783.632812,64275.019531,32155786816
2024-04-26,63755.320312,64789.656250,63322.398438,64485.371094,24139372950
2024-04-27,63419.140625,63898.363281,62424.718750,63750.988281,19530783039
2024-04-28,63113.230469,64321.484375,62793.597656,63423.515625,17334827993
2024-04-29,63841.121094,64174.878906,61795.457031,63106.363281,26635912073
2024-04-30,60636.855469,64703.332031,59120.066406,63839.417969,37840840057

In [5]:
df.loc['2024-03-29':'2024-04-05']

,Close,High,Low,Open,Volume
Date,,,,,
2024-03-29,69892.828125,70913.093750,69076.656250,70744.796875,25230851763
2024-03-30,69645.304688,70355.492188,69601.062500,69893.445312,17130241883
2024-03-31,71333.648438,71377.781250,69624.867188,69647.781250,20050941373
2024-04-01,69702.148438,71342.093750,68110.695312,71333.484375,34873527352
2024-04-02,65446.972656,69708.382812,64586.593750,69705.023438,50705240709
2024-04-03,65980.812500,66914.320312,64559.898438,65446.671875,34488018367
2024-04-04,68508.843750,69291.257812,65113.796875,65975.695312,34439527442
2024-04-05,67837.640625,68725.757812,66011.476562,68515.757812,33748230056

#### `Resample` metoda koristi se za grupisanje podataka po vremenskim intervalima. Parametar 'ME' označava mesečno grupisanje. Podaci će biti grupisani za svaki kraj meseca (npr. 31. januar, 28/29. februar).

In [6]:
df['Close'].resample('ME').mean()

Date
2024-01-31    42919.612399
2024-02-29    49875.174300
2024-03-31    67702.439264
2024-04-30    65882.380599
2024-05-31    65266.317288
2024-06-30    65899.465755
2024-07-31    62804.542087
2024-08-31    59921.197581
2024-09-30    60358.515885
2024-10-31    65577.264491
2024-11-30    86570.707812
2024-12-31    98393.073438
Freq: ME, Name: Close, dtype: float64